{% extends 'InscripcionBundle:Planilla:list.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Acciones Pendientes <small>Aquí encontrara las listas de buena fe que requeiren su intervención</small></h1>
                <h1 class="no-display"></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" onclick="$('.page-header h1').toggle();" class="close-subviews">
                <i class="fa fa-arrow-left"></i> VOLVER
            </a> 
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>                 
                <li>
                    <a href="{#{ path('inscripcion') }#}">
                        Inscripción
                    </a>
                </li>
                <li class="active">
                    Acciones pendientes
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    <div class="panel-heading">
        <h4 class="panel-title">Acciones <span class="text-bold">pendientes </span></h4>
        <div class="panel-tools">
            {{ include('CommonBundle::dropdownTables.html.twig') }}
        </div>
    </div>
    <div class="panel-body">
        <table id="planillaTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">N°</th>
                    <th>Segmento</th>
                    <th class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i> Auditoría planilla</th>
                    <th class="text-center" title="Inscriptos en la planilla"><i class="fa fa-users" aria-hidden="true"></i></th>
                    <th class="text-center">Estado</th>
                    <th class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i> Auditoría estado</th>
                    <th style="width: 110px"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}

{% block otherJavascripts %}
    <script>
        (function ($) {
            "use strict";
            // no se sobreescribe el namespace, si ya existe
            var _table;
            $.Default = $.Default || {};
            $.Default.init = function() {
                $('.fa-cloud-download').parent().hide();
                //$(".pop").popover({offset: 10,html: true,delay: { show: 50, hide: 25 }});
                _table = $('#planillaTable').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('planilla_pendientes_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "id", "className": "text-center" },
                        { "data": "segmento" },
                        { "data": "auditoria"},
                        { "data": "inscriptos", "className": "text-center" },
                        { "data": "estado.nombre", "className": "text-center" },
                        { "data": "estado" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [3,4,6]
                        },
                        {
                            "targets": 2,
                            "searchable": false,
                            "orderable": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                    '<div>'+
                                                        '<i title="Planilla creada por '+ data.createdBy +'" class="fa fa-user text-info" aria-hidden="true"></i> '+ data.createdBy +
                                                    '</div><small><div>'+
                                                        '<i title="Planilla creada el '+ data.createdAt +'" class="fa fa-calendar-o text-success" aria-hidden="true"></i> '+ data.createdAt +
                                                    '</div><div>'+
                                                        ' <i title="Planilla modificada el '+ data.updatedAt +'" class="fa fa-calendar-o text-orange" aria-hidden="true"></i> '+ data.updatedAt +
                                                    '</div></small>'
                                                :'';
                                        }
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "orderable": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                    '<small><div>'+
                                                        '<i title="Planilla en estado actual desde" class="fa fa-calendar-o text-success" aria-hidden="true"></i> '+ data.auditoria.createdAt +
                                                    '</div><div>'+
                                                        '<i title="Estado de planilla asignado por" class="fa fa-user text-info" aria-hidden="true"></i> '+ data.auditoria.createdBy +
                                                    '</div></small><div>'+
                                                        data.observacion +
                                                    '</div>'
                                                :'';
                                        }
                        }
                    ],
                    "fnCreatedRow": function( nRow, aData, iDataIndex ) {},
                    "fnDrawCallback": function(oSettings, json) {}
                });
            }
            //$.Default.inscripto = function(){}
            $.Default.edit = function(url){
                if (!$('body').hasClass('sidebar-close')){
                    $('.sb-toggle-left').trigger('click');
                }
                $('.no-display').html('<i class="fa fa-edit"></i> Editar lista de buena fe <small>Modifique y complete el formulario para editar la lista de buena fe</small>');
                $.get(url)
                    .done((data)=>{
                        if (!data.error){
                            $('.planillaInscripcion').remove();
                            $('#globalSubView .subviews-container').html(data);
                            $.subview();
                            $('.page-header h1').toggle();
                        }else{
                            toastr['error'](data.message, 'Cuidado!');
                        }
                    }).fail(()=>{
                        toastr['error']('Ocurrio un error en la comunicación con el servidor', 'Cuidado!');
                    });
            }
            $.Default.show = function(url){
                if (!$('body').hasClass('sidebar-close')){
                    $('.sb-toggle-left').trigger('click');
                }
                $('.no-display').html('<i class="fa fa-eye"></i> Ver lista de buena fe <small>Solo puede ver lista de buena fe</small>');
                $.get(url)
                    .done((data)=>{
                        $('.planillaInscripcion').remove();
                        $('#globalSubView .subviews-container').html(data);
                        $.subview();
                        $('.page-header h1').toggle();
                    }).fail(()=>{
                        toastr['error']('Ocurrio un error en la comunicación con el servidor', 'Cuidado!');
                    });
            }            
            $.Default.reloadTable = function(){
                _table.fnDraw(true);
            }
            $.Default.deleteConfirm = function(url){
                swal({
                    title: 'Esta seguro?',
                    text: "La planilla será borrada!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, borrar!'
                },function () {
                    $.post(url,{})
                    .done((data)=>{
                        if (data.success){
                            swal('Borrado!','La planilla fue borrado con exito.','success')
                            _table.fnDraw(true);
                        }else{
                            swal('Cuidado!',data.message,'error')
                        }
                    }).fail(()=>{
                        swal('Cuidado!','Ocurrio un error en la comunicación con el servidor','error')
                    })
                })
            }
            $.Default.changeStateConfirm = function(url){
                swal({
                    title: 'Realmente desea cambiar el estado de la planilla?',
                    text: "Puede indicar una observación de ser necesario.",
                    type: "input",
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Escriba la observación aquí",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cambiar!'
                },function (inputValue) {
                    if (inputValue === false) return false;
                    $.post(url,{'observacion':inputValue})
                    .done((data)=>{
                        if (data.success){
                            swal('Excelente!',data.message,'success')
                            _table.fnDraw(true);
                        }else{
                            swal('Cuidado!',data.message,'error')
                        }
                    }).fail(()=>{
                        swal('Cuidado!','Ocurrio un error en la comunicación con el servidor','error')
                    })
                })
            }            
        })(jQuery);
        $(document).ready(function(){$.Default.init();});
    </script>
{% endblock %}