<div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;width: auto;overflow-x: hidden;">
    <div style="padding-top:30px;padding-bottom: 20px;border-bottom: 1px solid silver;" > 
        <img style="height: 100px;margin-left: 20px;" src="{{ absolute_url(asset('assets/images/logos/logojuegos.png')) }}"/>
        <font style="float: right;color:#444;font-weight: bold;padding-top:30px;font-size: 16pt;margin-right: 100px;">PLENUS</font>
    </div>
    <br>
    <p><b>Este es un mensaje enviado por Plenus desde la Subsecretaría de Deportes de la Provincia de Buenos Aires.</b></p>
    <h2>&nbsp;</h2>
    <p>Estimado/a :</p>
    <p>
        Para completar el proceso debe aguardar a que el personal de la Subsecretaría de Deportes de la Provincia de Buenos Aires complete su solicitud.
    </p>
    <p>
        Al completarse la solicitud de registro, recibirá un email indicando que su cuenta está totalmente operativa.
    </p>
    <p> Cumplido dichos requisitos, puede ingresar a Plenus con la clave temporal proporcionada.
        <a href="{{ absolute_url(path('_login')) }}" target="_blank" >Ir a Plenus</a>
    </p>
    
    <div style="margin-bottom: 20px;background-color: #fff;border: 1px solid silver;border-radius: 4px;padding: 25px;">
        <div style="text-align: center">
            <h4><strong>Clave temporal:</strong> {{ pass }}</h4>
        </div>
    </div>
    
    <p>Si pasado 5 días hábiles su cuenta no fue activada comuniquese con el departamento de informática enviando un email a deptoinformatica@deportes.gba.gob.ar</p>
    <p>Si el vínculo no funciona, copie y pegue el siguiente link en su navegador</p>
    <p style="max-width: 650px;overflow: hidden;">{{ absolute_url(path('_login')) }}</p>
    <h1>&nbsp;</h1>
    <p>Este e-mail ha sido generado de manera automática. No lo responda. Ante cualquier inquietud, utilice los recursos que provee la Mesa de Ayuda.</p>
</div>