# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    app.plenusConfig:
        class: GestionBundle\Services\PlenusConfig
        arguments: [ "@doctrine.orm.entity_manager" ]
        
    app.activity_listener:
        class: SeguridadBundle\EventListener\ActivityListener
        arguments: ["@security.token_storage","@doctrine.orm.entity_manager","@router"]
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onCoreController }
    #app.logout_listener:
    #    class:  SeguridadBundle\EventListener\LogoutListener
    #    arguments:  ["@security.token_storage","@doctrine.orm.entity_manager","@router"]
    # authentication failure event listener
    app.security.authentication_failure_event_listener:
        class: SeguridadBundle\EventListener\LoginFailureListener
        arguments:  ["@http_kernel", "@security.http_utils","@doctrine.orm.entity_manager","@router", '@request_stack']
        tags:
            - { name: kernel.event_listener, event: security.authentication.failure, method: onAuthenticationFailure }
    # authentication success event listener
    app.security.interactive_login_listener:
        class: SeguridadBundle\EventListener\LoginListener
        #arguments:  ["@http_kernel", "@security.http_utils",@doctrine.orm.entity_manager,@router]
        arguments:  ["@security.token_storage", "@doctrine.orm.entity_manager", "@router"]
        tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onAuthenticationSuccess }
            
    app.type.origen_selector:
        class: InscripcionBundle\Form\PlanillaType
        arguments: ["@doctrine.orm.entity_manager","@security.token_storage"]
        tags:
            - { name: form.type }        