<div class="row">
    <div>
        <table id="participantes_show" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Medalla</th>
                    <th>Plaza</th>
                </tr>
            </thead>
            <tbody>
                {% for plaza in competencia.plazas %}
                    <tr>
                        <td>{{ plaza.orden }}</i></td>
                        <td><img src="{{ asset(plaza.getMedalla) }}"></td>
                        <td>
                            {{ plaza.getNombreCompetenciaRaw | raw }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>