{% extends 'AcreditacionBundle:Fields:button.html.twig' %}
{% block buttonTitulo %}Anterior Paso{% endblock %}
{% block buttonIcon %}<i class="fa fa-arrow-circle-left"></i><span class="buttonLabel">Anterior</span>
{% endblock %}