{% extends 'AcreditacionBundle:Fields:button.html.twig' %}
{% block buttonTitulo %}Siguiente Paso{% endblock %}
{% block buttonIcon %}<span class="buttonLabel">Siguiente</span><i class="fa fa-arrow-circle-right"></i>
{% endblock %}