{% extends 'AcreditacionBundle:Fields:button.html.twig' %}
{% block buttonTitulo %}Guardar{% endblock %}
{% block buttonIcon %}
    <div id="buttonSaveIcon" class="form-group col-12">
        <i class="fa fa-floppy-o"></i>
    </div>
    <div id="buttonSaveTitle" class="form-group col-12">
        <span >Guardar</span>
    </div>
{% endblock %}
