<div class="row">
   <div class="form-group">
      <label class="col-sm-2 control-label" for="role_name">Nombre</label>
      <div class="col-sm-10">{{entity.name}}</div>
   </div>
</div>
<div class="row">
   <div class="form-group">
      <label class="col-sm-2 control-label" for="role_name">Descripción</label>
      <div class="col-sm-10">{{entity.description}}</div>
   </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>

