{#<form id="seguridadbundle_roletypeform" name="seguridadbundle_roletypeform" action="{{path('role_new')}}" class="form-horizontal" method="post">
    {{form_widget(form)}}
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-success pull-right" type="submit" onclick='$.Roles.crear($("#seguridadbundle_roletypeform").serialize())' >Crear</button>
        </div>
    </div>
</form>#}
<div class="row">
    <div class="col-sm-12">
        {{ form_start(form) }}
        
        {{ form_end(form) }}
    </div>
</div>
