<div class="alert alert-block alert-danger fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4 class="alert-heading"><i class="fa fa-times"></i> Cuidado!</h4>
    <p>
        TODAVIA NO DEFINE EL FIXTURE DE ESTE <strong>EVENTO</strong> PONETE LAS PILAS.<br>
    </p>
</div>