{% extends 'CommonBundle::layout.html.twig' %}
{% block otherStylesheets %}
{% endblock %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Listado de Eventos <small>Busque y acceda a los resultadas de cada evento.</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" class="close-subviews">
                <i class="fa fa-arrow-left"></i> VOLVER
            </a>
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right"></ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Resultados
                </li>
                <li class="active">
                    Eventos
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    <div class="panel-heading border-light">
        <h4 class="panel-title">Listado <span class="text-bold">de eventos con competencia</span></h4>
        <ul class="panel-heading-tabs border-light">
            <li>
                <div class="pull-right" style="font-size: 20px" title="Acceso directo a Evento por ID">
                    <i class="fa fa-key text-yellow"></i><input id="inputDirect" class="text-bold inputDirect" onclick="" placeholder="0000" />
                </div>
            </li>
            <li>
                <div class="pull-right" style="font-size: 20px" title="Cantidad de Eventos">
                    <i class="fa fa-bullhorn text-blue"></i><span id="ev_cant" class="text-bold">  </span>
                </div>
            </li>
            <li>
                <div class="pull-right" style="font-size: 20px" title="Cantidad de Eventos definidos">
                    <i class="fa fa-pencil text-green"></i><span id="ev_def" class="text-bold"> 0 </span>
                </div>
            </li>
            <li>
                <div class="pull-right" style="font-size: 20px" title="Cantidad de Eventos sin definir">
                    <i class="fa fa-warning text-red"></i><span id="ev_sin_def" class="text-bold"> 0 </span>
                </div>
            </li>
            <li class="stats">
                <div class="rate" title="% completado del Torneo">
                    <span id="value_percent" class="value"></span><span class="percentage">%</span>
                </div>
            </li>
            <li class="panel-tools">
                {{ include('CommonBundle::dropdownTables.html.twig') }}
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <table id="eventoTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="center hidden"></th>
                    <th class="center"></th>
                    <th>Evento</th>
                    <th class="center" title="% completado"><span class="fa fa-tachometer"></span></th>
                    <th class="center" title="Cantidad de participantes"><span class="fa fa-users"></span></th>
                    <th class="center" title="Evento Definido si/no"><span class="fa fa-pencil-square fa-lg"></span></th>
                    <th class="center" style="min-width: 95px"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}
{% block otherJavascripts %}
    <script>
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var _table;
            $.Default = $.Default || {};
            $.Default.init = function() {
                _table = $('#eventoTable').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('resultado_evento_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "evento.id", "className": "text-center hidden" },
                        { "data": "evento.orden", "className": "text-center" },
                        { "data": "evento" },
                        { "data": "evento.completado", "className": "text-center" },
                        { "data": "evento.equipos", "className": "text-center" },
                        { "data": "evento.definido", "className": "text-center" },
                        { "data": "actions", "className": "text-center"  }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 2, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [0,1,3,5,6]
                        },
                        {
                            "targets": 1,
                            "searchable": false,
                            "orderable": false,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<span class="fa fa-ellipsis-v"></span><span class="sr-only">' + data.orden + '</span></a>':'';
                                        }
                        },
                        {
                            "targets": 2,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<div title="'+ data.descripcion +'">'+ data.nombre +'</div>':'';
                                        }
                        },
                        {
                            "targets": 3,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<strong><span class="percent_">' + data + '</span></strong><small>%</small>':'';
                                        }
                        },
                        {
                            "targets": 5,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' && data ?
                                                '<i class="fa fa-pencil"></i>':'<i class="fa fa-warning text-danger"></i>';
                                        }
                        }
                    ]
                });
            }
            $.Default.openAjaxForm = function(url,title) {
                $.Main.openFormModal(url,title, function(){
                        $('#panel-config form').submit(function(event){
                            $('#eventoTable').parents('.panel').block($.Main.defaultBlockConf());
                            $('#okButton').button('loading')
                            event.preventDefault();
                            $.post(url, $('#panel-config form').serialize(), function(data){
                                if(data.success){
                                    toastr['success'](data.message, 'Excelente!');
                                    _table.fnDraw(true);
                                    $.Main.closeFormModal();
                                }else if(data.error){
                                    toastr['error'](data.message, 'Cuidado!');
                                }else{
                                    $("#panel-config form").html($(data).find('form').html());
                                    toastr['warning']('Aún tiene campos obligatorios sin llenar o con datos erroneos.', 'Cuidado!');
                                }
                                $('#okButton').button('reset');
                            }).always(()=>{
                                $('#eventoTable').parents('.panel').unblock();
                            });
                        });
                    }
                );
            }
            $.Default.deleteConfirm = function(url){
                swal({
                    title: 'Esta seguro?',
                    text: "El evento será borrado!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#e66b6b',
                    confirmButtonText: 'Si, borrar!'
                },function () {
                    $.post(url,{})
                    .done((data)=>{
                        if (data.success){
                            swal('Borrado!','El evento fue borrado con exito.','success')
                            _table.fnDraw(true);
                        }else{
                            swal('Cuidado!',data.message,'error')
                        }
                    }).fail(()=>{
                        swal('Cuidado!','Ocurrio un error en la comunicación con el servidor','error')
                    })
                })
            }
        })(jQuery);
        $(document).ready(function(){$.Default.init();});
    </script>
{% endblock %}
