<div class="visible-md visible-lg hidden-sm hidden-xs">
    <a href="#2" onclick="$.PersonaSinUsuario.verDatosPersona('{{path("persona_sin_user_show",{"persona": entity.id})}}','Ver Persona');" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-eye"></i></a>
    <a href="#1" onclick="$.PersonaSinUsuario.openAjaxForm('{{path("persona_sin_user_edit",{"persona": entity.id})}}','Editar Persona')" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></a>
</div>
<div class="visible-xs visible-sm hidden-md hidden-lg">
    <div class="btn-group">
        <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
            <li>
                <a role="menuitem" tabindex="-1"  href="{{path("persona_sin_user_show",{"persona": entity.id})}}" >
                    <i class="fa fa-eye"></i> Ver
                </a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" href="#1" onclick="$.PersonaSinUsuario.openAjaxForm('{{path("persona_sin_user_edit",{"persona": entity.id})}}','Editar Persona')" >
                    <i class="fa fa-edit"></i> Editar
                </a>
            </li>
        </ul>
    </div>
</div>