{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Ver Persona <small>Todo los datos de la persona</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('persona_sin_user_list') }}">
                        Personas sin Usuario
                    </a>
                </li>
                <li class="active">
                    Ver persona "{{entity}}"
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    {% include(entity.getClass ~ ':show.html.twig')%}
{% endblock %}
{% block otherJavascripts %}
{% endblock %}    