{% extends "CommonBundle::layout.html.twig" %}
{% block bodyTag %}
	<body class="lock-screen">
{% endblock %}
{% block slidingbar %}{% endblock %}

{% block leftBar %}{% endblock %}
{% block contenido %}
   <div class="row">
      <div class="col-sm-5" style="margin: 10%  25% ;">
         <div class="logo">
             <img style="height: 36px;margin-top: -15px;" src="{{ asset('bundles/common/images/logos/logosolojuegos.png') }}" alt="Logo Juegos BA"/>
         </div>
         <div class="box-ls">
             <div class="user-info" style="width: 98%">
                 <h1><i class="fa fa-lock"></i> {{ entity.nombreCompleto }}</h1>
                 <span><em>Complete y chequee los siguientes datos antes de continuar.</em></span>
                 {{ form(form) }}
             </div>
         </div>
      </div>
   </div>
{% endblock %}
