/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2016, 16:56:33
    Author     : kibunke
*/

.datosIzq{
    border-right: solid 1px #88bbc8;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
    background: #428bca none repeat scroll 0 0 !important;
    color: #f9f9f9;
    margin-top: 0px;    
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{
    background: #fe6c86 none repeat scroll 0 0 !important;
    color: #f9f9f9;
}

#acreditacion-body .radio label, .checkbox label{
    padding: 0px;
}

#acreditacion-body table th{
    background-color: rgb(95,130,149);
    color: white;
    padding: 1px;
}

#acreditacion-body table td{
    padding: 1px;
}

#acreditacion-body label{
    text-align: left;
    color: black;
    padding: 0px;
}

div.datosDer > div, div.datosIzq > div{
    margin-bottom: 20px;
}

a.thumbnail{
    background-color: black;
    border: 4px solid rgb(95,130,149);

}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{
    padding: 2px;
}

#contenedorAvatar{
    background-color: black;
    width: 250px;
    height: 250px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#personal_avatar{
    width: 100%;
    height: 100%;
}
#fotoCapturador{
    height: 350px;
    width: 380px;
}

#capturadorModal .modal-body{
    height: 400px;
}

.modal-dialog{
    width: 412px;
}
.photobooth ul li{
    right: 35px;
}
.photobooth ul{
    list-style:none;
}
label.staticLabel{
    background-color: #e6fee6;
}
p.form-control-static{
    color: black;
}