{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Listado de Municipios <small>Administración los municipios del evento</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
<!--                    <li class="dropdown">
                        <a disabled href="#1">
                            <i class="fa fa-plus"></i> NUEVO
                        </a>
                    </li>-->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Gestion
                </li>
                <li class="active">
                    Municipios
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoContent %}
    <div class="row">
        <div class="col-md-12">
            {% include 'GestionBundle:Municipio:list.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block otherJavascripts %}
    <script>
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var _table;
            $.Municipio = $.Municipio || {};
            $.Municipio.init = function() {
                _table = $('#municipioTable').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('municipio_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "municipio.id", "className": "text-center" },
                        { "data": "municipio.nombre" },
                        { "data": "municipio.habitantes", "className": "text-center" },
                        { "data": "municipio.seccionElectoral", "className": "text-center" },
                        { "data": "municipio.regionDeportiva", "className": "text-center" },
                        { "data": "municipio.cruceRegional", "className": "text-center" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 0, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [6]
                        }
                    ],
                    "initComplete": function( oSettings ) {}
                });
            }
            $.Municipio.openAjaxForm = function(url,title) {
                $.Main.openFormModal(url,title, function(){
                    $('#panel-config form').submit(function(event){
                        $('#municipioTable').parents('.panel').block($.Main.defaultBlockConf());
                        $('#tree').parents('.panel').block($.Main.defaultBlockConf());
                        $('#okButton').button('loading')
                        event.preventDefault();
                        $.post(url, $('#panel-config form').serialize(), function(data){
                            if(data.success){
                                toastr['success'](data.message, 'Excelente!');
                                _table.fnDraw(true);
                                $.Main.closeFormModal();
                            }else if(data.error){
                                toastr['error'](data.message, 'Cuidado!');
                            }else{
                                $("#panel-config form").html($(data).find('form').html());
                                toastr['warning']('Aún tiene campos obligatorios sin llenar o con datos erroneos.', 'Cuidado!');
                            }
                            $('#okButton').button('reset');
                        }).always(()=>{
                            $('#municipioTable').parents('.panel').unblock();
                        });
                    });
                });
            }
            $.Municipio.remove = function(url,title) {}
        })(jQuery);
        $(document).ready(function(){$.Municipio.init();});
    </script>
{% endblock %}
