/* ---------------------------------------------------------------------- */
/*  Login
/* ---------------------------------------------------------------------- */
.box-login, .box-forgot, .box-register {
    background-image: url('../images/logos/logosolojuegos.png') !important;
    background-size: 110px auto !important;
    background-repeat: no-repeat !important;
    background-position: 98% 98% !important;
    min-width: 415px;
}

.box-login h3, .box-forgot h3, .box-register h3{
    margin-top: 5px;
}
.comment{
    color:#888;
}
body.login {
    overflow: visible;
}

body.login {
    background-image: url("../images/bg.png");
    background-color: transparent;
}

body.login .main-login {
    margin-top: 60px;
    position: relative;
}

body.login .logo {
    padding: 20px;
    text-align: center;
}

body.login .box-login, body.login .box-forgot, body.login .box-register {
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

body.login .box-login, body.login .box-forgot, body.login .box-register {
    display: none;
}

body.login .form fieldset {
    border: none;
    margin: 0;
    padding: 10px 0 0;
}

body.login a.forgot {
    color: #909090;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: 10px;
    z-index: 99;
}

body.login input.password {
    padding-right: 130px;
}

body.login label {
    color: #7F7F7F;
    font-size: 14px;
    margin-top: 5px;
}

body.login .copyright {
    font-size: 11px;
    margin: 0 auto;
    padding: 10px 10px 0;
    text-align: center;
}

body.login .form-actions:before, body.login .form-actions:after {
    content: "";
    display: table;
    line-height: 0;
}

body.login .form-actions:after {
    clear: both;
}

body.login .form-actions {
    margin-top: 15px;
    padding-top: 10px;
    display: block;
}

body.login .new-account {
    /*border-top: 1px dotted #EEEEEE;*/
    margin-top: 15px;
    padding-top: 10px;
    display: block;
}

.input_captcha{
    position: relative;
    min-width: 300px;
}

.input_captcha img{
    height: 34px;
    margin-left: -2px;
    float: left;
}

.input_captcha input{
    width: 50%;
}
.form-forgot, .form-register{
    margin-bottom: -30px;
}
.form .fa-spinner{
    margin-top: 20px;
    margin-bottom: 50px;
}
.has-feedback .fa-spinner {
    margin: 0px;
}
.form .input-group-addon{
    width: 45px;
}
.form .input-group{
    width: 100%;
}
.hiddenCaptcha{
    visibility: hidden;    
}
.clearboth{
    clear: both;
}
.no-padding{
    padding: 0 !important;
}